.landing-page {
    height: 100vh;
    width: 100%;
    background: linear-gradient(180deg, #000000, #545454, #737373, #FFFFFF);
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.navbar {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.nav-links.open {
    display: flex;
}

.nav-link {
    color: #fff;
}

.hamburger {
    display: none;
}
  
.logo {
    display: flex;
    align-items: center;
}
  
.logo img {
    height: 30px;
    margin-right: 10px;
}
  
.company-name {
    font-size: 24px;
}
  
.nav-links a {
    margin-left: 20px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}
  
.content {
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
  
.left-column,
.right-column {
    width: 48%;
}
  
.left-column img {
    width: 100%;
    height: auto;
}
  
.headline {
    font-size: 36px;
    color: #fff;
}
  
.tagline {
    font-size: 18px;
    color: #fff;
}

.jcc-way {
    width: 100%;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.way-container {
    width: 80%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
}

.way-text {
    flex: 1;
    text-align: left;
}

.way-text-big {
    font-size: 48px;
    color: black;
    text-align: left;
    margin-bottom: 20px;
}

.way-text-small {
    font-size: 20px;
    color: gray;
    text-align: justify;
}

.way-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.way-image img {
    width: 100%;
    height: auto;
    max-width: 500px;
    object-fit: cover;
    border: solid #000000;
}

.what-we-offer {
    width: 100%;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f1f0f0;
    gap: 3rem;
}

.offer-text {
    margin-top: 5rem;
}

.offer-text p {
    font-size: 48px;
}

.offer-container {
    width: 80%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 50px;
}

.offer {
    flex: 1 1 calc(33.333% - 2rem);
    max-width: calc(33.333% - 2rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.offer img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border: solid #000;
}

.offer p {
    text-align: justify;
    font-size: 14px;
}

.meet-the-team {
    width: 100%;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-text {
    display: flex;
    justify-content: center;
}

.team-text p {
    font-size: 48px;
    margin: 3rem 0;
}

.team-container {
    width: 80%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
}

.team-member {
    flex: 1 1 calc(33.333% - 2rem);
    max-width: calc(33.333% - 2rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.team-member img {
    width: 100%;
    height: auto;
    border: solid #000;
}

.team-member p {
    font-size: 14px;
    text-align: justify;
}

.contact {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #f1f0f0;
    padding: 0 5rem;
}

.contact-text-big {
    font-size: 48px;
}

.contact-text-small {
    font-size: 20px;
}

.contact p {
    text-align: justify;
}

.contact-button {
    margin-top: 40px;
    border: solid #737373;
    border-radius: 10px;
    width: 30%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.contact-button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.footer {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f1f0f0;
}

.footer-title {
    margin-top: 40px;
    font-size: 14px;
}

hr {
    width: 90%;
}

/* Media Queries for Mobile Devices */

@media only screen and (max-width: 800px) {
    .landing-page {
        height: auto;
        padding: 20px;
    }
    
    .navbar {
        align-items: flex-start;
        position: relative;
    }
    
    .nav-links {
        display: none;
        flex-direction: column;
        background: #333;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        padding: 10px 0;
    }
    
    .nav-links a {
        margin: 10px 0;
        color: #fff;
        text-align: center;
        padding: 10px;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        margin-top: 2px;
    }

    .hamburger div {
        width: 30px;
        height: 3px;
        background-color: #fff;
        margin: 5px 0;
    }

    .content {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        margin-top: 40px;
    }

    .left-column, .right-column {
        width: 100%;
        margin-bottom: 20px;
    }

    .headline {
        font-size: 28px;
    }

    .tagline {
        font-size: 16px;
    }

    .way-container {
        flex-direction: column;
        gap: 2rem;
    }

    .way-text,
    .way-image {
        width: 100%;
        text-align: center;
    }

    .way-image img {
        max-width: 80%;
    }

    .offer-container,
    .team-container {
        flex-direction: column;
        align-items: center;
    }

    .offer,
    .team-member {
        width: 100%;
        max-width: 100%;
    }

    .contact {
        padding: 20px;
    }

    .contact-button {
        width: 50%;
        margin-left: 10px;
        padding: 10px;
        transform: scale(1.05);
    }
}

@media only screen and (max-width: 480px) {
    .navbar {
        padding: 10px;
    }

    .company-name {
        font-size: 20px;
    }

    .nav-links a {
        font-size: 16px;
    }

    .headline {
        font-size: 24px;
    }

    .jcc-way {
        padding: 20px 0;
    }

    .way-text-big {
        font-size: 32px;
    }

    .way-text-small {
        font-size: 16px;
    }

    .offer-text p, .team-text p, .contact-text-big {
        font-size: 32px;
    }

    .offer p, .team-member p, .contact-text-small {
        font-size: 16px;
    }

    .footer-title {
        font-size: 12px;
    }
} 

/* Adjustments for smaller elements and spacing */

@media only screen and (max-width: 360px) {
    .company-name {
        font-size: 18px;
    }
    .nav-links a {
        font-size: 14px;
    }

    .headline {
        font-size: 20px;
    }

    .tagline {
        font-size: 14px;
    }

    .jcc-way {
        padding: 15px 0;
    }

    .way-text-big {
        font-size: 28px;
    }

    .way-text-small {
        font-size: 14px;
    }

    .way-image img {
        max-width: 70%;
    }

    .offer-text p,
    .team-text p {
        font-size: 28px;
    }

    .contact-button {
        width: 90%;
        height: auto;
        padding: 8px;
    }
} 